*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body{
    min-height: 100vh;
    font-family : "roboto", sans-serif;
    background-color : grey;
    color : #333;
}
nav{
    background-color: black;
    color: grey;
    border:darkorchid;
    border-style:solid;
    border-radius: 5%;
}
nav ul{
    width:100%;
    list-style:none;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
nav li{
    height: 50px;
    padding:2%;
}
nav a{
    height: 100%;
    padding: 0 30 px;
    text-decoration: none;
    display:flex;
    align-items:center;
    color:white;
}
nav a:hover{
    background-color:darkorchid;
    padding-bottom:1%;
    font-size:110%;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height:100vh;
    width:250px;
    z-index: 999;
    background-color:darkorchid;
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
}
.sidebar li{
    width:100%;
}
.sidebar a{
    width:100%;
}
.menu-button{
    display:none;
}
header{
    background-color : #35424a;
    color : whitesmoke;
    text-align : left;
    margin-left : 4 rem;
}
header h1{
    font-size : 2 rem;
    padding:1%;
}
footer{
    text-align : center;
    padding : 1 rem 0;
    background-color : #8b9fac;
    color : #ffffff;
    position : fixed;
    bottom : 0;
    width : 100%;
}
@media (max-width : 800px){
    .hideOnMobile{
        display:none;
    }
    .menu-button{
        display:block;
    }
}
@media(maw-width:400px){
    .sidebar{
        width:100%;
    }
}